<h1>Listing words</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Meaning</th>
      <th>Part of speach</th>
      <th>Sample Sentence</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.word %></td>
        <td><%= word.meaning %></td>
        <td><%= word.part_of_speach %></td>
        <td><%= word.sample_sentence %></td>
        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<!--<% meaning = Wordnik.word.get_definitions("hypnotize", source_dictionaries: "wiktionary") %>-->


<!--<h4 style="text-decoration: underline">wiktionary</h4>-->
<!--<%= meaning.first["text"] %>-->



<%= link_to 'New Word', new_word_path %>
