<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @word.meaning %>
</p>

<p>
  <strong>Part of speach:</strong>
  <%= @word.part_of_speach %>
</p>


<p>
  <strong>Sample Sentence</strong>
  <%= @word.sample_sentence %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
